<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="house" viewBox="0 0 16 16">
        <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5z"/>
    </symbol>
    <symbol id="cash-coin" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M11 15a4 4 0 1 0 0-8 4 4 0 0 0 0 8m5-4a5 5 0 1 1-10 0 5 5 0 0 1 10 0"/>
        <path d="M9.438 11.944c.047.596.518 1.06 1.363 1.116v.44h.375v-.443c.875-.061 1.386-.529 1.386-1.207 0-.618-.39-.936-1.09-1.1l-.296-.07v-1.2c.376.043.614.248.671.532h.658c-.047-.575-.54-1.024-1.329-1.073V8.5h-.375v.45c-.747.073-1.255.522-1.255 1.158 0 .562.378.92 1.007 1.066l.248.061v1.272c-.384-.058-.639-.27-.696-.563h-.668zm1.36-1.354c-.369-.085-.569-.26-.569-.522 0-.294.216-.514.572-.578v1.1zm.432.746c.449.104.655.272.655.569 0 .339-.257.571-.709.614v-1.195z"/>
        <path d="M1 0a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h4.083q.088-.517.258-1H3a2 2 0 0 0-2-2V3a2 2 0 0 0 2-2h10a2 2 0 0 0 2 2v3.528c.38.34.717.728 1 1.154V1a1 1 0 0 0-1-1z"/>
        <path d="M9.998 5.083 10 5a2 2 0 1 0-3.132 1.65 6 6 0 0 1 3.13-1.567"/>
    </symbol>
    <symbol id="chevron-right" viewBox="0 0 13 13">
        <path fill-rule="evenodd"
              d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
    </symbol>
    <symbol id="chevron-down" viewBox="0 0 13 13">
        <path fill-rule="evenodd"
              d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708"/>
    </symbol>
    <symbol id="burger" viewBox="0 0 32 32">
        <path fill-rule="evenodd"
              d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
    </symbol>
    <symbol id="close" viewBox="0 0 24 24">
        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
    </symbol>
    <symbol id="logout" viewBox="0 0 32 32">
        <path fill-rule="evenodd"
              d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
        <path fill-rule="evenodd"
              d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
    </symbol>
</svg>

<div class="burger-menu" id="burger-menu">
    <svg class="bi pe-none me-2" width="32" height="32">
        <use xlink:href="#burger"/>
    </svg>
</div>


<div class="container-layout d-flex">
    <aside class="sidebar hidden d-flex flex-column flex-shrink-0 border-end "
           style="width: 219px; box-sizing: border-box;" id="aside">
        <div id="close-menu">
            <div class="close" id="close">
                <svg class="" width="60" height="60">
                    <use xlink:href="#close"/>
                </svg>
            </div>
        </div>
        <a href="#/" class="logo-link d-flex align-items-center  text-decoration-none border-bottom">
            <img src="../images/logo.png" alt="" class="logo-img ">
        </a>

        <ul class="nav nav-pills flex-column mb-auto mt-4 fw-normal">
            <li class="nav-item ">
                <a href="#/" class="nav-link main-link" id="layout-main" aria-current="page">
                    <svg class="bi pe-none me-2" width="16" height="16">
                        <use xlink:href="#house"/>
                    </svg>
                    Главная
                </a>
            </li>
            <li class="nav-item">
                <a href="#/income-and-expenses" class="nav-link main-link" id="layout-operation">
                    <svg class="bi pe-none me-2" width="16" height="16">
                        <use xlink:href="#cash-coin"/>
                    </svg>
                    Доходы & Расходы
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link d-flex align-items-center main-link" id="layout-category" href="javascript:void(0)"
                   id="navbarMenuLink"
                   role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Категории
                    <svg class="category-arrow" width="13" height="13">
                        <use xlink:href="#chevron-right"/>
                    </svg>
                </a>
                <ul class="dropdown-menu dropdown-menu" aria-labelledby="navbarDarkDropdownMenuLink">
                    <li><a class="dropdown-item main-link" id="layout-income" href="#/income">Доходы</a></li>
                    <li><a class="dropdown-item main-link" id="layout-expenses" href="#/expenses">Расходы</a></li>

                </ul>
            </li>

        </ul>


        <div class="">
            <div class="balance mb-3"><b>Баланс:</b> <span id="balance" class="text-primary"></span></div>

            <div class="user-info-block">
                <div class="popup-user" id="popup-user">
                    <a href="#/logout" class="popup-user-link">
                      Выйти
                    </a>
                </div>
                <a href="javascript:void(0)" id="sidebar-user-link"
                   class="d-flex align-items-center link-body-emphasis text-decoration-none border-top "
                   aria-expanded="false">
                    <img src="../images/people.png" alt="" width="32" height="32" class="rounded-circle me-2 mt-3">
                    <div id="username" class="ml-2 mt-3"></div>
                </a>
            </div>
        </div>
    </aside>
    <div class="content" id="content-layout"></div>
</div>

