<div class="content-container table-block">
    <h1 class="page-title mb-4" id="main-title"></h1>
    <div class="buttons-block-finance" id="btn-block-fin">
        <a href="javascript:void(0)" class="btn btn-success" id="create-income">Создать доход</a>
        <a href="javascript:void(0)" class="btn btn-danger" id="create-expense">Создать расход</a>
    </div>
    <div class="buttons-block-main d-flex align-items-center gap-3 flex-wrap">
        <button type="button" class="btn btn-outline-secondary" id="btn-today">Сегодня</button>
        <button type="button" class="btn btn-outline-secondary" id="btn-week">Неделя</button>
        <button type="button" class="btn btn-outline-secondary" id="btn-month">Месяц</button>
        <button type="button" class="btn btn-outline-secondary" id="btn-year">Год</button>
        <div id="calendar-block">
            <div id="calendar1">
                <button class="btn btn-outline-secondary" id="interval">Интервал</button>
            </div>
        </div>
        <div class="interval">
            <span>c</span>
            <a href="javascript:void(0)" class="link-interval-start" id="link-interval-start">День</a>
            <span>по</span>
            <a href="javascript:void(0)" class="link-interval-end" id="link-interval-end">День</a>

        </div>
    </div>
    <div id="main-content"></div>
</div>

<div class="alert-popup-block">
    <div class="card alert-popup mx-auto my-auto">
        <div class="">
            <span class="">Вы действительно хотите удалить категорию? </span>
            <span class="text-popup-income" id="text-popup-income">Связанные доходы будут удалены навсегда.</span>
            <div class="popup-button-block mt-3">
                <button class="btn btn-success" id="popup-yes">Да, удалить</button>
                <button class="btn btn-danger" id="popup-no">Не удалять</button>
            </div>
        </div>
    </div>
</div>
