
<div class="content-container-dashboard  d-flex align-items-center justify-content-start flex-wrap">
    <div class="income-container diag  align-items-center d-flex justify-content-center flex-column">
        <h2 class="title-diag h2 text-center">Доходы</h2>
        <div class="color-diag d-flex align-items-center justify-content-center flex-wrap " id="color-diag-income"></div>
        <canvas class="canvas" id="canvas-income"></canvas>
    </div>

    <div class="expenses-container diag align-items-center d-flex justify-content-center flex-column align-items-center">
        <h2 class="title-diag h2 text-center">Расходы</h2>
        <div class="color-diag d-flex align-items-center justify-content-center flex-wrap " id="color-diag-expenses"></div>
        <canvas class="canvas" id="canvas-expenses"></canvas>
    </div>
</div>
