<div class="content-container p-2 p-sm-3 m-2 m-sm-4">
    <h1 class="page-title mb-5 mt-5" id="main-title">Доходы</h1>
    <div class="cards row d-flex align-content-center gap-3" id="cards">

    </div>
</div>

<div class="alert-popup-block" id="alert-popup-block">
    <div class="card alert-popup mx-auto my-auto">
        <div class="">
            <span class="">Вы действительно хотите удалить категорию? </span>
            <span class="" id="text-popup-income">Связанные доходы будут удалены навсегда.</span>
            <div class="popup-button-block mt-3">
                <button class="btn btn-success" id="yes-alert">Да, удалить</button>
                <button class="btn btn-danger" id="no-alert">Не удалять</button>
            </div>
        </div>
    </div>
</div>
