<div class="content-container table-block p-0 p-xl-3 m-0 m-xl-4 mb-2 mt-2" >
    <div class="data-table p-sm-3 p-0" id="data-table">
        <table class="table ">
            <thead class="text-center">
            <tr>

                <th scope="col" class="number">№ <span class="operation-text">операции</span> </th>
                <th scope="col" class="type">Тип</th>
                <th scope="col" class="category">Категория</th>
                <th scope="col">Сумма</th>
                <th scope="col">Дата</th>
                <th scope="col" class="comment">Комментарий</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody id="tbody" class="text-center">

            </tbody>
        </table>
    </div>

    <div class="alert-popup-block" id="alert-popup-block">
        <div class="card alert-popup mx-auto my-auto">
            <div class="">
                <span class="mb-1">Вы действительно хотите удалить операцию? </span>

                <div class="popup-button-block mt-3">
                    <button class="btn btn-success" id="yes-alert">Да, удалить</button>
                    <button class="btn btn-danger" id="no-alert">Не удалять</button>
                </div>
            </div>
        </div>
    </div>
</div>